*{
    margin: 0;
    padding: 0;
}

#header{
    background-color: #191970;
    width: 100%;
    position: fixed;
    top: 0;
    color: #ffffff;
}

#logo{
    text-align: center;
    padding-top: 20px;
    font-family: 'Madimi One','Tahoma'; 
    font-size: 3vw;
}

#menu{
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

#menu li{
    list-style-type: none;
    display: inline;
    cursor: pointer;
    padding: 1%;
}

#menu li:hover{
    /* background-color: #00bfff; */
    padding-bottom: 0.4em;
    border-bottom: 0.3em solid #00bfff;
    font-weight: bold;
}

#menu, #content{
    font-family: 'Roboto';
}

#content{
    padding-top: 150px;
    width: 90%;
    margin: 0 auto;
}

#content p:first-child{
    text-align: center;
}

#content img{
    width: 100%;
}

#footer{
    background-color: #191970;
    width: 100%;
    height: 50px;
    color: #ffffff;
    text-align: center;
    padding-top: 1%;

}
