main{
    display: block;
}

section h2{
    text-align: center;
}

#tabela{
    width: 100%;
    font-size: 1.2em;
}

#tabela, #tabela th, #tabela td{
    border: 0.1em solid#ff4500;
    border-collapse: collapse;
}

#tabela, thead, tfoot{
    background-color: #ff4500;
    color: #fafafa;
}

#tabela td{
    text-align: center;
}

#tabela td:nth-child(1){
    text-align: left;
}

#tabela tbody tr:nth-child(even){
    background-color: #ff7f50;
}